@import 'variables';

.header-container {
  img {
    width: 40vw;
    margin: 3vh 0 2vh 0;

    @media only screen and (min-width: 992px) {
      max-width: 300px;
    };
  }
}

.main-container,
.header-container,
.signup-container,
.signup-form,
.login-container,
.login-form,
.newmember-container,
.member-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80vw;

  @media only screen and (min-width: 992px) {
    max-width: 1280px;
  };

  h2{
    margin: 1vh 0;
    padding:0 3px;
  }

  .pi {
    margin-right: 1vw;
  }

  .p-input-icon-right > i {
    margin-top: -0.5vh;
  }

  span {
    margin: 1vh 0;
  }

  .p-inputtext {
    width: 80vw;
    font-size: 1rem;

    @media only screen and (min-width: 992px) {
      max-width: 600px;
    };
  }

  .btn-primary {
    width: 80vw;
    padding: 0;
    margin-top: 1.25rem;
    font-size: 1.1rem;
    background-color: $primary-color;
    font-weight: bold;

    @media only screen and (min-width: 992px) {
     max-width: 600px;
    };

    span {
      margin: 0.6rem 0;
    }
  }
  .p-dropdown {
    border-color: $primary-color;
    width: 80vw;

    span {
      margin: 0;
      padding: 0.75rem;
      font-size: 1rem;
    }
  }

  .p-float-label {
    margin: 0;
  }

  .text-center {
    margin: 2.5rem 0;
    display: inline-block;
    width:80vw;
    text-align: center;
    font-size: 1.2rem;
  }

}
.newmember-container {

  span {
    display: inline-block;
    width: 40vw;
    font-size: 1rem;
    padding: 8px 10px;
    margin: 0;

    @media only screen and (min-width: 992px) {
      max-width: 300px;
    };
  }


  .p-inputtext,.p-dropdown-label, .p-calendar {
    padding: 8px 0 8px 3px;
    width: 100%;
    margin-left: 0;
    font-size: 1rem;

   @media only screen and (min-width: 992px) {
      max-width: 600px;
    };
  }

  .input_label {
    background-color: $primary-color;
    color: white;
    margin-right: 0;
  }

  .btn-primary {
    margin-bottom: 1.25rem;

      span {
        @media only screen and (min-width: 992px) {
          max-width: 600px;
        display: inline-block;
        width: 100%;
        text-align: center;
      };
    };

  }
}

.btn-edit {
    margin-top: 0 !important;
    margin-bottom: 2rem;
  }

//---AddTestResults Component---

.results-main-container, .member-results-main-container {
  @media only screen and (min-width: 992px) {
    max-width: 1280px;
  };
}

.member-info {
  text-align: left;
  font-size: 1.1rem;
  font-weight: bold;
  color: $primary-color;
  width: 80vw;
  margin-bottom: 20px;

  .test_value {
    color: $text-color;
    font-weight: normal;
  }

}

.update {

  .p-button {
    min-width: 200px;
    font-size: .8rem;
    color: $primary-color;
    text-align: left;
  }

  .p-input-icon-right > i {
    top: 40%;
  }
}

.results-container {
  display: flex;
  justify-content: center;

  .prev_results {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    max-width: 67vw;
    color: $primary-color;

    .table-container {
      overflow-x: auto;
    }

    .results_table {
      width: max-content;
      font-size: 1rem;
      text-align: center;
      border: 1px solid #ced4da;

      th {
        background-color: $primary-color;
        color: white;
        font-weight: normal;
        text-align: left;
      }

      tbody tr:nth-child(odd) {
        background-color: #ccc;
      }

      tbody tr:nth-child(even) {
        background-color: #eee;
      }

      th, td {
        padding: 3px;
        background-clip: padding-box;
        scroll-snap-align: start;
        min-width: 40px;
        height: 30px;
      }

      thead {
        z-index: 1000;
        position: relative;
      }

      thead th {
        position: sticky;
        top: 0;
        border-top: 0;
        background-clip: padding-box;
      }

      thead th.pin {
        left: 0;
        z-index: 1001;
        border-left: 0;
      }

      tbody th {
        background-clip: padding-box;
        border-left: 0;
      }

      tbody {
        z-index: 10;
        position: relative;
      }

      tbody th {
        position: sticky;
        left: 0;
      }

      .row_header {
        min-width: 120px;
      }

      th.icon-wieght {

        &:after {
          content: url("../assets/wieght.png");
          position: absolute;
          right: .8vw;
        }
      }

      th.icon-ruler {

        &:after {
          content: url("../assets/ruler.png");
          position: absolute;
          right: .8vw;
        }
      }

      th.icon-caliper {

        &:after {
          content: url("../assets/caliper.png");
          position: absolute;
          right: .8vw;
        }
      }

      .negative {
        color: green;
        font-size: 1rem;

        &:before {
          content: "-";
        }
      }

      .positive {
        color: red;
        font-size: 1rem;

        &:before {
          content: "+";
        }
      }
    }
  }

  .last_results {
    max-width: 13vw;
    display: flex;
    flex-direction: column;
    vertical-align: top;

    .p-inputtext {
      width: 13vw;
      height: 32px;
      font-size: 1rem;

      @media only screen and (min-width: 992px) {
        max-width: 200px;
      }
    }
  }
}

.recommendations, .club_number_input {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .p-inputtext-lg {
    width: 48vw;
    font-size: 1rem;

  }

  .btn-primary {
    margin-left: 10px;
    height: 42px;
    width: 32vw;
    justify-content: flex-start;
  }

  .span {
    line-height: 58px;
  }
}

.footer-container {
  padding-top: 2vh;
  padding-right: 1vw;
  margin-bottom: 2vw;
  display: flex;
  flex-direction: column;
  max-width: 80vw;

  h2 {
    background-color: $primary-color;
    color: white;
    padding: 1vw;
    font-weight: normal;
    font-size: 1.2rem;
  }

  span {
    display: flex;
    align-items: center;
    margin: 5px 0;
    flex-wrap: wrap;

    img {
      display: flex;
      align-items: center;
      padding: 0 2vw;
      width: 55px;

      @media only screen and (min-width: 992px) {
        width: 95px;
      };
    }

    a {
      display: flex;
      align-items: center;
    }
  }
}

.member-results-main-container {

  .results-container {
    .prev_results {
      max-width: 80vw;
    }
  }

  .club_number_input {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    align-items: center;

    .p-inputtext-lg {
      width: 80vw;
      font-size: 1rem;
    }
  }

  .btn-primary {
    width: 80vw;
    margin-bottom: 30px;
    margin-top: 10px;
  }
}

.open-hours {
  width: 80vw;
  @media only screen and (min-width: 992px) {
    max-width: 600px;
  };
}