@import 'variables';

.main-container,.login-container, .login-form, .newmember-container, .member-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  h2{
    margin: 1.8rem 0;
  }

  img {
    margin: 1.25rem 0;
  }

  .pi {
    margin-right: 0.6rem;
  }

  .p-input-icon-right > i {
    margin-top: -.3rem;
  }

  span {
    margin: 1rem 0;
  }

  .p-inputtext {
    width: 80vw;

    @media only screen and (min-width: 992px) {
      max-width: 600px;
    };
  }

  .btn-primary {
    width: 80vw;
    padding: 0;
    margin-top: 1.25rem;
    font-size: 1.1rem;
    background-color: $primary-color;
    font-weight: bold;

    @media only screen and (min-width: 992px) {
     max-width: 600px;
    };

    span {
      margin: 0.6rem 0;
    }
  }
  .p-dropdown {
    border-color: $primary-color;
    width: 80vw;

    span {
      margin: 0;
      padding: 0.75rem;
      font-size: 1rem;
    }
  }

  .p-float-label {
    margin: 0;
  }
}
.newmember-container {

  span {
    display: inline-block;
    width: 40vw;
    font-size: 1.25rem;
    padding: 0.5rem 0.625rem;
    margin: 0;

    @media only screen and (min-width: 992px) {
      max-width: 300px;
    };
  }

  .p-inputtext {
    width: 100%;
    margin-left: 0;

    @media only screen and (min-width: 992px) {
      max-width: 600px;
    };
  }

  .input_label {
    background-color: $primary-color;
    color: white;
    margin-right: 0;
  }

  .btn-primary {
    margin-bottom: 1.25rem;

      span {
        @media only screen and (min-width: 992px) {
          max-width: 600px;
        display: inline-block;
        width: 100%;
        text-align: center;
      };
    };

  }
}

  .text-center {
    margin-top: 2.5rem;
    display: inline-block;
    width:80vw;
    text-align: center;
    font-size: 1.2rem;
  }

  .btn-edit {
    margin-top: 0 !important;
    margin-bottom: 2rem;
  }

  .member-info {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    color: $primary-color;
    width: 80vw;

    .test_value {
      color: $text-color;
      font-weight: normal;
    }
  }

//---AddTestResults Component---

  .section_header {
    color: $text-color;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.25rem 0;
  }

  .results_table {
    font-size: 1.3rem;
    text-align: center;

    thead th {
      background-color: $primary-color;
      color: white;
      font-weight: normal;
    }

    tbody tr:nth-child(odd) {
      background-color: #ccc;
    }

    tbody tr:nth-child(even) {
      background-color: #eee;
    }

    th, td {
      padding: 0.26rem;
    }

  }

  .prev_results {
    display: inline-block;
    width: 60vw;
    vertical-align: top;
  }

  .last_results {
    max-width: 20vw;
    display: inline-block;
    vertical-align: top;

    .p-inputtext {
      width: 20vw;
    }
  }

.negative {
  color: green;
  font-size: 1rem;

  &:before {
    content: "-";
  }
}

.positive {
  color: red;
  font-size: 1rem;

  &:before {
    content: "+";
  }
}